@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import "bootstrap/scss/bootstrap";
@import 'src/_var.scss';

.bg-img {
    height: 106vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.35);

}

.img-main {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 350px;
    max-height: 350px;
}

.content {
    position: relative;
    z-index: 3;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;


    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: $gold;
        line-height: 5rem;
        margin-top: -35px;
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
        padding: 0 0 0 0;
        color: $white;
        font-style: italic;
        line-height: 3rem;
    }

    h5 {
        font-size: 2.5rem;
        line-height: 1.5em;
        font-weight: 600;
        color: $gold;
    }

    p {
        color: $white;
        font-size: 2rem !important;
        font-weight: 300 !important;
    }

    .position-timer {
        margin-top: 75px;
    }

    .text-red {
        color: $red !important;
    }

}


.edit-container {
    position: absolute;
    top: 30px;
    display: flex;
    background-color: black;

    .edit-container button {
        background-color: $black;
        border: none;
        color: white;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 10px;
    }

    input {
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 5px;
        padding: 5px 20px;
        border: none;
        background-color: grey;
        font-size: 16px;
        color: $gold;
        z-index: 5;
    }

    input:nth-child(2) {
        color: $white;
    }

    input::placeholder {
        color: $white;
    }

    .delete {
        margin-left: 12px;
        color: $black !important;
        background-color: $red !important;
    }
}


.container-radio {
    position: absolute;
    top: 60px;
    left: 20px;
    color: $gold;
    font-size: 1rem;
    background-color: black;
    z-index: 10;

    label {
        font-weight: 600;
    }

}


.position-edit-btn {
    position: absolute;
    top: 5px;
    left: 5px;

    .edit-btn {
        background-color: transparent;
        padding: 10px;
        border-radius: 10px;
        border: none;
        color: rgba(128, 128, 128, 0.182);
    }

    .edit-btn:hover {
        transition: all 125ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.484);
        color: $white
    }
}

.dnone {
    display: none;
}

@media screen and (max-width:768px) {
    .container {
        margin-top: -50px !important;
    }

    .img-main {
        width: 50% !important;
    }

    .position-timer {
        margin-top: 20px !important;
    }

}