@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import "bootstrap/scss/bootstrap";
@import 'src/_var.scss';

.bg-img {
    height: 106vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    filter: brightness(0.35);

}

.img-main {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-width: 350px;
    max-height: 350px;
}

.content {
    position: relative;
    z-index: 3;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;


    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: $gold;
        line-height: 5rem;
        margin-top: -35px;
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
        padding: 0 0 0 0;
        color: $white;
        font-style: italic;
        line-height: 3rem;
    }

    h5 {
        font-size: 2.5rem;
        line-height: 1.5em;
        font-weight: 600;
        color: $gold;
    }

    p {
        color: $white;
        font-size: 2rem !important;
        font-weight: 300 !important;
    }

    .position-timer {
        margin-top: 75px;
    }

    .text-red {
        color: $red !important;
    }

}


.edit-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 10;

    .edit-container button {
        background-color: $black;
        border: none;
        color: white;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 10px;
    }

    input {
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 5px;
        padding: 5px 20px;
        border: none;
        background-color: grey;
        font-size: 16px;
        color: $gold;
        z-index: 5;
    }

    input:nth-child(2) {
        color: $white;
    }

    input::placeholder {
        color: $white;
    }

    .delete {
        margin-left: 12px;
        color: $black !important;
        background-color: $red !important;
    }

    .container-radio {
        color: $gold;
        font-size: 1rem;

        label {
            font-weight: 600;
        }
    }
}

.position-edit-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;

    .edit-btn {
        background-color: transparent;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        border: none;
        color: transparent;
    }

    .edit-btn:hover {
        transition: all 125ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.3);
        color: $white
    }
}

.dnone {
    display: none;
}

.alert-warn {
    color: $gold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 100px;

    strong {
        color: red;
    }
}


@media screen and (max-width:768px) {
    .container {
        margin-top: -50px !important;
    }

    .img-main {
        width: 50% !important;
    }

    .position-timer {
        margin-top: 20px !important;
    }

    h1 {
        font-size: 3rem;
    }

    svg {
        font-size: 16rem !important;
        width: 200px !important;
    }

    .edit-container {
        left: 0px;
        z-index: 10;
        background-color: black;
        padding: 10px;
    }

}

//Animate Titel
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #f5e19f7d 0%,
            #F5E19F 29%,
            #f0c9478a 67%,
            #F0C947 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


//Animate Ablauf (Lets go)
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.position-ablauf {
    margin-bottom: 150px;
}

svg {
    display: block;
    font: 18em 'Montserrat';
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: $black;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: $white;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: $gold-light;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: $gold-light;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: $gold;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}