<body>


  <div [ngClass]="{dnone:state}" id="edit" class="edit-container">
    <div class="dnone">
      <label for="test">
        <input type="checkbox" placeholder="test">
        <span>Mindset</span>
      </label>

      <label for="test">
        <input type="checkbox" placeholder="test">
        <span>Blockchain</span>
      </label>

      <label for="test">
        <input type="checkbox" placeholder="test">
        <span>Trading</span>
      </label>

      <label for="test">
        <input type="checkbox" placeholder="test">
        <span>NFT</span>
      </label>
    </div>

    <form class="d-flex align-items-center" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <input formControlName="titel" type="text" placeholder="Titel">
      <input formControlName="subtitel" type="text" placeholder="Subtitel">
      <input formControlName="dateInput" type="datetime-local" placeholder="Event Datum">
      <button type="submit">Erstellen</button>
    </form>
    <button (click)="deleteF()" class="delete">Delete</button>


  </div>


  <div class="container">
    <div class="img-1">
      <img src="../assets/img/logo-mbk_gold_small.png">
    </div>

    <div class="page">
      <h1 [innerHTML]="htmltitel"></h1>
      <p [innerHTML]="htmlsubtitel" class="beschreibung"></p>
      <div class="tt" id="timer" [innerHTML]="htmltimer"></div>
    </div>
  </div>
  <div class="position-edit-btn">
    <button class="edit-btn" (click)="editModusToggel()">bearbeiten</button>
  </div>
</body>