@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import "~bootstrap/scss/bootstrap";

// @ mit BT5 und SCSS komplett neu aufbauen so das es responsive ist und auch wirklich schön 
// @ weite Funktion wie NFT, Trading etc einbauen und Bild z.b. wechseln oder auch den hintergrund

.container {
    margin-top: -20px;
}

.content {
    position: relative;
    z-index: 3;
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: #f1bd20;
        line-height: 5rem;
    }

    h4 {
        font-size: 2.5rem;
        font-weight: 300;
        padding: 0 0 0 0;
        color: #fff;
        font-style: italic;
        line-height: 3rem;
    }

    p {
        font-size: 2.5rem;
        line-height: 1.5em;
        font-weight: 600;
        color: #f1bd20;
    }

    .position-timer {
        margin-top: 100px;
    }

    small {
        color: white;
        font-size: 2rem !important;
        font-weight: 300 !important;
    }

    .text-red {
        color: red !important;
    }

}


.edit-container {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;

    .edit-container button {
        background-color: black;
        border: none;
        color: white;
        font-size: 16px;
        padding: 5px 20px;
        border-radius: 10px;
    }

    input {
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 5px;
        padding: 5px 20px;
        border: none;
        background-color: grey;
        font-size: 16px;
        color: gold;
    }

    input:nth-child(2) {
        color: white;
    }

    input::placeholder {
        color: white;
    }

    .delete {
        margin-left: 12px;
        color: black !important;
        background-color: red !important;
    }
}


.position-edit-btn {
    position: absolute;
    bottom: 30px;

    .edit-btn {
        background-color: transparent;
        border: none;
        color: rgba(128, 128, 128, 0.182);
    }

    .edit-btn:hover {
        transition: all 125ms ease-in-out;
        background-color: rgba(0, 0, 0, 0.484);
        color: white
    }
}

.dnone {
    display: none;
}