<div *ngIf="!isEmpty">
  <img class="bg-img" src="{{bgImgview}}">
</div>


<div [ngClass]="{dnone:state}" id="edit">
  <div class="edit-container">
    <form class="d-flex align-items-center flex-column	flex-md-row mb-3" [formGroup]="checkoutForm"
      (ngSubmit)="onSubmit()">
      <input class="mb-2" formControlName="titel" type="text" placeholder="Titel" (ngModelChange)="changeTitle($event)">
      <input class="mb-2" formControlName="subtitel" type="text" placeholder="Subtitel" required="required"
        (ngModelChange)="changeSubTitle($event)">
      <input class="mb-2" formControlName="dateInput" type="datetime-local" placeholder="Event Datum"
        required="required" (ngModelChange)="changeDate($event)">
      <button [disabled]="disableBtn" class="btn btn-warning" type="submit">Erstellen</button>
      <!-- <button class="btn btn-danger ms-2 h-50" (click)="deleteF()">Clear</button> -->
    </form>


    <div class="container-radio">
      <label class="ms-2 me-2" id="example-radio-group-label">Kategorie auswählen:</label>
      <mat-radio-group class="example-radio-group" [(ngModel)]="aktiveCategorie">
        <mat-radio-button class="example-radio-button me-2" *ngFor="let categorie of categories" [value]="categorie"
          (click)="changeRadio($event)">
          {{categorie}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>



<div *ngIf="isEmpty">
  <div class="alert-warn">
    <h2> <strong>Info:</strong> Ganz oben Links im Ecken können sie drüber Hovern, Edit Button klicken und alle Daten
      für
      den Countdown
      eintragen</h2>
  </div>
</div>



<div *ngIf="!isEmpty" class="container d-flex flex-column align-items-center justify-content-center">


  <div class="content fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="animate-charcter" [innerHTML]="htmltitel"> </h1>
        </div>
      </div>
    </div>

    <h4 class="mb-3" [innerHTML]="htmlsubtitel" class="beschreibung"></h4>

    <div class=" d-flex justify-content-center mb-3">
      <img class="img-main" src="{{mainImgview}}">
    </div>

    <div *ngIf="!isexpired"
      class="d-flex flex-column	flex-md-row justify-content-around align-items-center position-timer ">
      <span class="d-flex flex-row flex-md-column justify-content-center align-items-center">
        <h5 class="me-2">{{this.day}}</h5>
        <p class="ms-2">Tage</p>
      </span>
      <span class="d-flex flex-row flex-md-column justify-content-center align-items-center">
        <h5 class="me-2">{{this.hour}}</h5>
        <p class="ms-2">Stunden</p>
      </span>
      <span class="d-flex flex-row flex-md-column justify-content-center align-items-center">
        <h5 class="me-2">{{this.minutes}}</h5>
        <p class="ms-2">Minuten</p>
      </span>
      <span class="d-flex flex-row flex-md-column justify-content-center align-items-center">
        <h5 class="me-2">{{this.seconds}}</h5>
        <p class="ms-2">Sekunden</p>
      </span>
    </div>

    <!-- ablauf -->
    <div class="position-ablauf" *ngIf="isexpired">
      <svg viewBox="0 0 960 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">Lets go </text>
        </symbol>

        <g class="g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>

    </div>


  </div>
</div>
<div class="position-edit-btn">
  <button class="edit-btn" (click)="editModusToggel()">
    edit
  </button>
</div>